@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.footer {
    background-color: v.$rosa;
    padding: 2rem 0;
    p {
        text-align: center;
        margin: 0;
        color: v.$blanco;
    }
}